.App {
    /* display: flex; */
    /* flex-direction: column;
    align-items: center;
    justify-content: center !important;
    height: 100vh; */
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    font-family: Arial, sans-serif;
  }
  
  .button {
    padding: 10px;
    margin: 5px;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.3s ease;
  }
  
  .button.active {
    transform: scale(1.1);
  }
  
  /* .card {
    margin-top: 20px;
    padding: 20px;
    color: white;
    border-radius: 8px;
    display: none;
  }
   */
   .card {
    margin-top: 20px;
    padding: 20px;
    /* color: white; */
    border-radius: 8px;
    /* display: none; */
  }

  #primaryCard {
    background-color: #1976d2;
  }
  
  #secondaryCard {
    background-color: #9c27b0;
  }
  
  #successCard {
    background-color: #5bca60;
  }
  
  #errorCard {
    background-color: #d32f2f;
  }
  h6{
    text-align: center;
    font-size: 8vh;
    color: #fff
  }
.btn{
  width: 100% !important;
}